/*@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');*/
/*
@import url('https://fonts.googleapis.com/css?family=Bitter:700|Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap');
*/

:root {
    /*    --contrast: #f5c5a3;*/
    /*    --contrast: #ffa666;*/
    --contrast: #e99b63;
    /*    hsl(25, 75%, 65%); */
    --contrast-bright: #fc8936;
    /*    hsl(25, 97%, 60%); */
    /*    --contrast-light: #fcde9c;*/
    /*    hsl(25, 80%, 80%);*/
    /*    --accent-light: #d0ffb7;*/
    /*    --accent: #a3f5be;*/
    /*    hsl(140, 80%, 80%);*/
    /*    --accent: #8bf4ae;*/
    /*    hsl(140, 83, 75); */
    --accent: #71f49d;
    /*    hsl(140, 85, 70); */
    --accent-bright: #51fb8a;
    /*    hsl(140, 95, 65); */

    /*    --accent-dark: #6BD1B8;*/
    /*    hsl(165, 53%, 62%);*/
    /*    --accent-dark: #55D1B2;*/
    --accent-dark: #4ae8c1;
    /*    hsl(165, 75%, 60%); */
    --background-dark: #0b0b0f;
    /*    hsl(240, 15%, 10%);*/
    --background: #21212C;
    /*    hsl(240, 15%, 15%);*/
    --background-light: #2B2B3B;
    /*    hsl(240, 15%, 20%);*/

    --neutral: #ccc;

    --on-background: white;
    --on-accent: black;

    --main-menu-transition-time: 1s;

    /*    --drop-shadow: 0 4px 3px rgba(0, 0, 0, .4);*/
    /*
    --shadow: 0 2px 1px rgba(0, 0, 0, 0.09),
        0 4px 2px rgba(0, 0, 0, 0.09),
        0 8px 4px rgba(0, 0, 0, 0.09),
        0 16px 8px rgba(0, 0, 0, 0.09),
        0 32px 16px rgba(0, 0, 0, 0.09);
*/
    --shadow-around: 0 1px 2px 1px rgba(0, 0, 0, 0.2),
        0 2px 4px 2px rgba(0, 0, 0, 0.2),
        0 4px 8px 4px rgba(0, 0, 0, 0.2),
        0 6px 12px 8px rgba(0, 0, 0, 0.2);
    /*
    --deeper-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 6px 8px rgba(0, 0, 0, 0.11),
        0 8px 16px rgba(0, 0, 0, 0.11);
*/
    --shadow-angled: 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
        2px 2px 3px 2px rgba(0, 0, 0, 0.2),
        4px 4px 4px 3px rgba(0, 0, 0, 0.2);
    --shadow-angled-deep: 1px 1px 2px 1px rgba(0, 0, 0, 0.2),
        2px 2px 4px 2px rgba(0, 0, 0, 0.2),
        4px 4px 8px 4px rgba(0, 0, 0, 0.2),
        6px 6px 12px 8px rgba(0, 0, 0, 0.2);

    --shadow-inset-top: inset 0 1px 2px -1px rgba(0, 0, 0, 0.4),
        inset 0 2px 4px -2px rgba(0, 0, 0, 0.4),
        inset 0 4px 8px -4px rgba(0, 0, 0, 0.4),
        inset 0 6px 12px -6px rgba(0, 0, 0, 0.4);

    /*
    --inset-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.09),
        inset 0 4px 2px rgba(0, 0, 0, 0.09),
        inset 0 8px 4px rgba(0, 0, 0, 0.09),
        inset 0 16px 8px rgba(0, 0, 0, 0.09),
        inset 0 32px 16px rgba(0, 0, 0, 0.09);
    --inset-deeper-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.11),
        inset 0 2px 2px rgba(0, 0, 0, 0.11),
        inset 0 4px 4px rgba(0, 0, 0, 0.11),
        inset 0 6px 8px rgba(0, 0, 0, 0.11),
        inset 0 8px 16px rgba(0, 0, 0, 0.11);
*/
    --text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25),
        0 0 2px rgba(0, 0, 0, 0.25),
        1px 1px 4px rgba(0, 0, 0, 0.35),
        2px 2px 6px rgba(0, 0, 0, 0.35),
        4px 4px 8px rgba(0, 0, 0, .35);


    --glow-contrast: 0 1px 2px 1px hsla(140, 95, 65, .2),
        0 2px 4px 2px hsla(140, 95, 65, .2),
        0 4px 8px 4px hsla(140, 95, 65, .2),
        0 6px 12px 8px hsla(140, 95, 65, .2);
    /*    Best with .4 opacity black */
    --glow-dark: 0 0 4px 2px rgba(0, 0, 0, 0.4),
        0 0 8px 4px rgba(0, 0, 0, 0.4),
        0 0 16px 8px rgba(0, 0, 0, 0.4),
        0 0 32px 16px rgba(0, 0, 0, 0.4);

    --accent-gradient: linear-gradient(to right, #51fb8a, #fc8936);

    --header-height: 3.125rem;

    --indent: 1em;

    --fill-color: hsla(0, 0%, 100%, .3);
    /*    TODO: header height based on viewport size */
}

@-ms-viewport {
    width: device-width;
    zoom: 1.0;
}

@-o-viewport {
    width: device-width;
    zoom: 1.0;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    color: var(--on-background);
    background: var(--background-dark);

    height: 100vh;
    overflow-x: hidden;
}

html,
.content {
    font-size: .9rem;
    /*        font-family: 'Open Sans', 'Roboto', sans-serif;*/
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    /*    font-family: 'Montserrat', 'Roboto', sans-serif;*/
}

html,
body,
header,
main {
    overflow-x: hidden;
    width: 100vw;
}

body {
    vertical-align: baseline;
    margin: 0;
    padding: 0;

    max-width: 50em;
    margin: auto;
}

.skills {
    display: none;
}

h1,
h2,
h3,
h4,
.title,
.subtitle,
.subsubtitle,
.subsubsubtitle,
#about .intro,
#contact p,
.details-button {
    /*    font-family: 'Roboto Slab', 'Ubuntu', serif;*/
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
    /*    font-family: 'Source Sans Pro', 'Ubuntu', sans-serif;*/
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    margin: .25em .45em;
}

h1 {
    font-size: 1.5em;
    text-align: left;
    font-weight: 400;
}

h2,
.title,
#contact p {
    /*    margin: 0 .5em;*/
    color: var(--accent-dark);
    font-size: 2.5rem;
    /*    text-transform: uppercase;*/
}

h3,
.subtitle {
    font-size: 1.25rem;
}

h4,
.subsubtitle {
    font-size: 1rem;
}

.subsubsubtitle,
.details-button {
    font-size: .95rem;
}

ul {
    list-style-type: none;
    padding-left: var(--indent);
}

li + li {
    margin: .2em 0 0;
    padding: 0;
}

a,
a:visited,
a:active,
a:link {
    text-decoration: none;
    color: var(--on-background);
}

.tooltip,
.ani-link,
a.ani-link {
    cursor: pointer;
}

.ani-link,
a.ani-link {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    /*    border-bottom: 1px solid hsla(0, 0%, 100%, .2);*/
    /*
    text-decoration-color:
        var(--neutral);
*/
    -webkit-transition: all .5s;
    transition: all .5s;

    background: var(--accent);
    background-clip: border-box;

    -webkit-background-clip: text;
    color: var(--fill-color);
    -webkit-text-fill-color: var(--fill-color);
    /*    way to get different color for underlines */
}

a:visited.ani-link,
a.logo-stack:visited > .ani-link {
    /*    color: var(--accent-dark);*/

    background: var(--accent-dark);
    background-clip: text;

    -webkit-background-clip: text;
    color: var(--fill-color);
    -webkit-text-fill-color: var(--fill-color);
}

.ani-link {
    position: relative;
    /*    margin: 2px 0;*/
}

.ani-link:hover,
.ani-link:focus,
.logo-stack:hover .ani-link,
.logo-stack:focus .ani-link {
    /*    background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e52e71));*/
    background: var(--accent-gradient);
    /*    background-clip: border-box;*/
    background-clip: text;

    -webkit-background-clip: text;
    color: var(--fill-color);
    -webkit-text-fill-color: var(--fill-color);

    /*    border-image: linear-gradient(70deg, var(--accent) 35%, var(--accent) 70%, var(--accent-dark)) 1;*/

    /*    box-decoration-break: clone;*/
    /*    text-shadow: none;*/
}

.ani-link::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 4px;
    width: 0;
    background: var(--accent-gradient);
    border-radius: 4px;
    bottom: -4px;
    left: 0;

    -webkit-transition: width .3s;

    transition: width .3s;
}

.ani-link:hover::before,
.ani-link:focus::before,
.logo-stack:hover .ani-link::before,
.logo-stack:hover .ani-link::before {
    width: 100%;
}

.logo-stack {
    font-size: 1.2em;
    font-weight: bold;
}

.logo-stack svg {
    width: 3em;
    margin-right: var(--indent);
    /* 10px
    margin-left: calc(-5px + var(--line-thickness) / 2); */
}

#experience .logo-stack svg,
#experience .logo-stack .svg-label {
    vertical-align: middle;
    display: inline-block;
}

/*
.logo-stack:hover .ani-link::before {
    width: 100%;
}
*/
.logo-link-set li a,
.logo-link-set .svg-label {
    fill: var(--accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
}

.logo-link-set svg {
    margin: 0;
}

.logo-link-set .svg-label em {
    display: block;
    max-width: 0;

    font-size: .8em;
    visibility: hidden;
    opacity: 0;

    padding: 0 .25em;
    background: var(--accent-gradient);
    background-clip: padding-box;

    color: var(--background-dark);
    -webkit-text-fill-color: var(--background-dark);

    -webkit-transition: max-width 1s, visibility .1s, opacity .4s;

    transition: max-width 1s, visibility .1s, opacity .4s;
}

.logo-link-set .logo-stack:hover .svg-label em {
    visibility: visible;
    opacity: 1;

    max-width: 14em;
}

.logo-link-set .logo-stack svg {
    -webkit-transition: .3s;
    transition: .3s;
}

.logo-link-set .logo-stack.resume:hover svg,
.logo-link-set .logo-stack.email:hover svg,
.logo-link-set .logo-stack.resume:focus svg,
.logo-link-set .logo-stack.email:focus svg {
    stroke: var(--contrast);
}

.logo-link-set .logo-stack.github:hover svg,
.logo-link-set .logo-stack.linkedin:hover svg,
.logo-link-set .logo-stack.github:focus svg,
.logo-link-set .logo-stack.linkedin:focus svg {
    fill: var(--contrast);
}

.tooltip {
    position: relative;
    color: var(--accent);
    white-space: nowrap;
    /*    nowrap does mean this is best for short phrases */
}

.tooltip-icon {
    display: inline-block;
    position: relative;

    /*            text-align: center;*/
    vertical-align: middle;
    height: .75em;
    width: .75em;
    margin: 0 .25em;
    border-radius: 1em;

    /*
    font-size: .75em;

    height: 1.3125em;
    width: 1.3125em;
    padding: 0 .25em .5em;
    margin: 0 .25em;
    border-radius: 1em;
*/

    background: var(--background-light);

    -webkit-box-shadow: var(--shadow-angled-deep);

    box-shadow: var(--shadow-angled-deep);

    /*
    color: var(--on-background);
    -webkit-text-fill-color: var(--on-background);
*/
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tooltip:hover .tooltip-icon {
    margin: -.1em .1rem;
    width: 1em;
    height: 1em;
    -webkit-box-shadow: var(--shadow-angled);
    box-shadow: var(--shadow-angled);
}

.tooltip.subtitle:hover .tooltip-icon {
    margin: -.1em .1rem;
    width: 1em;
    height: 1em;
}

.tooltip-icon::before,
.tooltip-icon::after {
    display: block;
    content: '';

    background: var(--on-background);

    position: absolute;
}

.tooltip-icon::before {
    width: .5em;
    height: .125em;

    right: calc(50% - .25em);
    top: calc(50% - .0625em);
}

.tooltip:hover .tooltip-icon::before,
.tooltip:hover .tooltip-icon::after {
    background: var(--accent);
    -webkit-transition: background .3s;
    transition: background .3s;
}

.tooltip-icon::after {
    height: .5em;
    width: .125em;

    top: calc(50% - .25em);
    right: calc(50% - .0625em);

    -webkit-transition: all .2s .2s;

    transition: all .2s .2s;
}

.tooltip.subtitle:hover .tooltip-icon::after {
    top: 2.5rem;
}

.tooltip:hover .tooltip-icon::after {
    height: 1.25rem;
    top: 1.25em;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.tooltip.subtitle .tooltip-text {
    top: 2.925rem;
    right: 1.875rem;
}

.tooltip-text {
    position: absolute;
    white-space: normal;
    z-index: 1;
    top: 1.5em;
    right: 1.5rem;
    max-width: 15em;
    visibility: hidden;
    font-size: .9rem;

    color: var(--background-dark);
    opacity: 0;
    -webkit-transition: opacity .2s .1s, visibility .3s .2s;
    transition: opacity .2s .1s, visibility .3s .2s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text::after {
    display: inline-block;
    content: '';

    background: var(--accent);

    position: absolute;
    z-index: -1;
    min-height: 1.25rem;
    height: 100%;
    width: 0;
    top: 0;
    right: -.75rem;
    /*    -.375 for subtitle, -.75 for content */

    -webkit-transition: width .3s;

    transition: width .3s;

    -webkit-box-shadow: var(--shadow-angled);

    box-shadow: var(--shadow-angled);
}

.tooltip:hover .tooltip-text::after {
    width: calc(100% + 1em);
    -webkit-transition: width .3s .15s;
    transition: width .3s .15s;
}

/* Header -------------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    z-index: 2;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    /*            flex-flow: row wrap;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background: var(--background-dark);
    color: var(--on-background);

    -webkit-box-shadow: var(--shadow-around);

    box-shadow: var(--shadow-around);
}

header em {
    font-style: normal;
    font-weight: bold;
}

header div,
header h1,
header div::before {
    display: block;
    padding: 0;
    margin: 0;
}

header h1 {
    display: none;
}

header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 9em) {
    header h1 {
        display: block;
    }
}

#header-contact {
    display: none;
}

#header-contact::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 0;
    left: .25em;
    -webkit-transition: height .3s;
    transition: height .3s;
    background: var(--accent);
}

/* Displays email and phone number when wide enough */
@media(min-width: 42em) {
    #header-contact {
        display: inline-block;
        position: relative;
        margin: .25em;
    }

    #header-contact::before {
        height: 100%;
    }
}

header .logo-stack,
#experience .logo-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .75em;
}

header svg {
    fill: none;
    stroke: var(--accent);
    stroke-width: 15;
    /*
    stroke-linecap: round;
     stroke-linejoin: round;
*/
}

header svg {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;

    -webkit-transition: .5s;

    transition: .5s;
}

header svg:hover {
    stroke: var(--accent-dark);
}

/* Nav-Bar -------------------------------------------------*/
#main-menu {
    position: fixed;
    right: -200px;
    top: 0;
    height: 100%;
    z-index: 3;
    -webkit-transition: right var(--main-menu-transition-time);
    transition: right var(--main-menu-transition-time);
}

#main-menu:target,
#main-menu[aria-expanded="true"] {
    right: 0;
    -webkit-box-shadow: var(--shadow-around);
    box-shadow: var(--shadow-around);
}

#main-menu ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#main-menu li + li {
    margin: 0;
}

#main-menu li,
#main-menu-close {
    border-bottom: 1px solid var(--background-light);
}

#main-menu li a {
    display: block;
    padding: .5em calc(var(--indent) * 2);
    line-height: 1em;
}

#main-menu li a:hover,
#main-menu li a:focus {
    color: var(--accent);
    background: var(--background-light);
    -webkit-transition: .5s;
    transition: .5s;
}

#main-menu li::after {
    display: block;
    content: '';
    width: 0;
    height: .2em;

    /*    position: absolute;*/
    background: var(--accent-gradient);
    -webkit-transition: .3s;
    transition: .3s;
}

#main-menu li:hover::after,
#main-menu li:focus::after {
    width: 100%;
}

/* Overlay */
#main-menu #main-menu-close::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    content: '';
    background: var(--background-dark);
    visibility: hidden;
    opacity: 0;
    -webkit-animation: fadeOut var(--main-menu-transition-time);
    animation: fadeOut var(--main-menu-transition-time);
}

#main-menu:target #main-menu-close::before {
    visibility: visible;
    opacity: .75;
    -webkit-animation: fadeIn var(--main-menu-transition-time);
    animation: fadeIn var(--main-menu-transition-time);
}

@-webkit-keyframes fadeIn {
    0% {
        visibility: none;
        opacity: 0;
    }

    2% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: .5;
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        visibility: none;
        opacity: 0;
    }

    2% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: .5;
        visibility: visible;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: .5;
        visibility: visible;
    }

    95% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeOut {
    0% {
        opacity: .5;
        visibility: visible;
    }

    95% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#main-menu-toggle {
    position: fixed;
    right: 0;
    top: 0;
    padding: calc(var(--header-height)/4);
}

/*
#main-menu-toggle::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transform: translate(75%, -25%);
    float: right;
}
*/

/*
#main-menu-toggle,
#main-menu-toggle::before {
        padding: calc(var(--main-menu-width)/2);
}
*/

/* TODO: work with z-index and opacity to make -close appear over it, then switch out on focus/movement of menu */
#main-menu-toggle,
#main-menu-close {
    display: block;
    padding: calc(var(--header-height)/3);
}

#main-menu-toggle,
#main-menu-toggle::before,
#main-menu-close,
#main-menu ul {
    background: var(--background);
    color: var(--on-background);
}

#main-menu-close {
    padding-right: calc(100% - 2/3*var(--header-height));
}

.menu-toggle,
.menu-close {
    width: calc(var(--header-height)/3);
    height: calc(var(--header-height)/3);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Menu Icon ------------------------------------------- */
.menu-toggle span,
.menu-toggle span::before,
.menu-toggle span::after {
    position: relative;
    /*    setting position helps with the z-index order that gets funky with the transforms, specifically with #main-menu-toggle::before */
}

.menu-toggle span,
.menu-toggle span::before,
.menu-toggle span::after,
.menu-close span,
.menu-close span::before,
.menu-close span::after {
    content: '';
    display: block;
    width: 100%;
    height: calc(.15 * var(--header-height)/3);
    margin: 17% 0;
    /*    border-radius: 10px;*/

    background: var(--on-background);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.menu-toggle:focus span,
.menu-toggle:focus span::before,
.menu-toggle:focus span::after,
.menu-close:focus span,
.menu-close:focus span::before,
.menu-close:focus span::after,
.menu-toggle:hover span,
.menu-toggle:hover span::before,
.menu-toggle:hover span::after,
.menu-close:hover span,
.menu-close:hover span::before,
.menu-close:hover span::after {
    background: var(--accent);
}

.menu-toggle:focus span::before,
.menu-toggle:hover span::before,
.menu-close:focus span::before,
.menu-close:hover span::before {
    width: 75%;
}

/* TODO: In JavaScript, add a .closed class dynamically so not just relying on :targetting */
/*    FUTURE: check: opacity should only be relevant for .menu-close befores */
.menu-toggle span::before,
.menu-toggle span::after,
.menu-close span::before,
.menu-close span::after {
    opacity: 1;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

.menu-close:hover span,
.menu-close:focus span {
    -webkit-transform: translate(0%, 225%) rotate(-45deg);
    transform: translate(0%, 225%) rotate(-45deg);
}

.menu-close:hover span::before,
.menu-close:focus span::before {
    opacity: 0;
    -webkit-transform: translate(0%, 0%) rotate(45deg);
    transform: translate(0%, 0%) rotate(45deg);
}

.menu-close:hover span::after,
.menu-close:focus span::after {
    -webkit-transform: translate(0%, -225%) rotate(90deg);
    transform: translate(0%, -225%) rotate(90deg);
}

/* End Nav-Bar ----------------------------------------------- */
/* End Header ------------------------------------------------ */

main {
    padding-top: var(--header-height);
}

/* Spacing for when click */
section {
    position: relative;
}

section::before {
    content: '';
    display: block;

    visibility: none;
    /*    position: absolute;*/
    top: 0;
    left: 0;

    height: var(--header-height);
    margin: calc(-1 * var(--header-height)) 0 0;

    z-index: -3;
}

section p {
    text-indent: 20px;
}

/* About Section */
#about h2 {
    display: none;
}

#about .intro {
    font-size: 2rem;
    margin: 0;
    position: relative;
    z-index: 1;
    text-shadow: var(--text-shadow);
}

#about .intro:nth-child(3) {
    position: relative;
    white-space: nowrap;
}

#about .intro:nth-child(3)::before {
    display: block;
    content: '';
    position: absolute;

    bottom: .25em;
    left: 2.67em;
    width: .17em;
    height: .71em;

    height: 3em;

    background: var(--on-background);
    -webkit-box-shadow: var(--shadow-around);
    box-shadow: var(--shadow-around);
}

#about .intro:nth-child(3)::after {
    display: block;
    content: '';
    position: absolute;


    top: .57em;
    left: 2.85em;
    width: .165em;

    height: .35em;
    height: 13em;

    background: var(--on-background);
    -webkit-box-shadow: var(--shadow-inset-top);
    box-shadow: var(--shadow-inset-top);

    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(-38deg) skewY(-10deg);
    transform: rotate(-38deg) skewY(-10deg);
}

/*
#about::before {
    left: 0;
    top: 0;
    background: var(--background-dark);
    height: 100%;
    width: 100%;
    transform-origin: top left;
    transform: skewX(135deg);
}

.intro:before {
    display: block;
    content: '';
    position: absolute;
    background: var(--accent);
    height: 5%;
    width: 5%;
    transform: skewX(135deg);
}
*/
/*
#about::before {
    bottom: calc(var(--header-height)+10em);
    left: 55%;
    height: 40%;
    width: 5%;
    background: var(--accent);
    transform-origin: top left;
    transform: skewX(135deg);
}
*/

.about-description {
    padding: var(--indent);
    margin-bottom: 0;

    position: relative;
    z-index: 1;
}

#experience h2,
#education h2 {
    position: relative;
    margin: .45em .1em;
    font-size: .9em;
}

#experience h2 {
    font-size: .75em;
}

#experience h2::after,
#experience h2::before {
    display: block;
    content: '';

    position: absolute;
}

#experience h2::before {
    left: 4.4em;
    top: .8em;
    width: .155em;
    height: .15em;

    height: 34em;
    background: var(--accent-dark);
    z-index: -1;
}

#experience h2::after {
    bottom: .26em;

    left: .67em;
    background: var(--accent);
    /*    top: 0.44em;*/
    height: 15em;
    width: .17em;

    /*TODO: add inset transparent to fade into on far end*/
    /*    top: 80%;*/
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewX(-37.5deg);
    transform: skewX(-37.5deg);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2),
        2px 2px 4px 2px rgba(0, 0, 0, 0.2),
        4px 4px 8px 4px rgba(0, 0, 0, 0.2),
        6px 6px 12px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2),
        2px 2px 4px 2px rgba(0, 0, 0, 0.2),
        4px 4px 8px 4px rgba(0, 0, 0, 0.2),
        6px 6px 12px 8px rgba(0, 0, 0, 0.2);
}

#about p.about-description + p.about-description {
    margin-top: 0;
    padding-top: 0;
}

/*
.experience-header {
            background: var(--background-light);
        padding: 1em;
}
*/

/* TODO: Add dates to extracurriculars and format like educational-info without the padding */

#experience > ul {
    padding: 0;
}

#experience .experience-header .job-title {
    text-shadow: var(--text-shadow);
}

#experience > ul > li:nth-child(1) {
    position: relative;
    z-index: 1;
}

#experience > ul > li {
    background: var(--background);
    padding: .75em;
    margin: .75em 0;
}

#education > div,
#experience > ul > li,
#skills ul::after {
    -webkit-box-shadow: var(--shadow-angled-deep);
    box-shadow: var(--shadow-angled-deep);
}

#experience > ul li::after {
    left: .5em;
    top: .86em;
}

#experience ul.description {
    /*    background: var(--background);*/
    /*    padding: .5em;*/
    padding: 0;
    /*    margin: 0 .5em;*/
}

#experience ul.description li,
.details ul li {
    background: var(--background-light);
    padding: .25em .5em;
    -webkit-box-shadow: var(--shadow-angled);
    box-shadow: var(--shadow-angled);
}

#experience ul.description li + li,
.details ul li + li {
    margin: .5em 0 0;
}

#experience svg {
    margin-left: .5em;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5em;
    flex: 1 1 5em;
    max-height: 5em;
    max-width: 5em;
}

#experience .logo-stack {
    font-size: 12px;
    font-weight: bold;
    color: var(--main_dark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*    padding-top: 1em;*/
}

.experience-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: .75em 1.75em;
    font-style: italic;
}

.experience-info * {
    margin: 0 .5em;
}

.job-title {
    font-weight: bold;
    margin: .5em 0 0 5em;
}

#skills h2 {
    margin-bottom: 0em;
    position: relative;
    z-index: -1;
}

#skills h2::before,
#skills h2::after {
    display: block;
    content: '';
    width: .16em;
    height: .75em;
    position: absolute;
}

#skills h2::before {
    background: var(--accent);
    z-index: 0;
    top: .23em;
    left: 1.965em;
    height: 10.25em;
}

#skills h2::after {
    background: var(--accent-dark);
    bottom: .25em;
    left: 1.66em;
    height: 10em;
}

#skills h3 {
    z-index: 1;
    position: relative;
}

#skills h3,
#education h4,
#education h3 {
    text-shadow: var(--text-shadow);
}

#skills ul {
    z-index: 0;
    /* TODO: box-shadow not showing up here */
}

ul.logo-link-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, 9em);
    grid-template-rows: repeat(auto-fit, minmax(6em, 1fr));
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
}

ul.ani-list li,
.description li {
    position: relative;
}

ul.ani-list li::before,
ul.ani-list li::after,
.description li::before,
.description li::after {
    display: inline-block;
    content: '';
    /*    border-radius: .6em;*/

    vertical-align: middle;
}

ul.ani-list li::before,
.description li::before {
    margin: 0 .5em;
    /*    position: relative;*/
    width: .6em;
    height: .6em;
    background: var(--accent);
}

ul.ani-list li::after,
.description li::after {
    position: absolute;
    background: var(--background-dark);
    width: .5em;
    height: .5em;
    top: .6em;
    /*    left: -.1em;*/
    left: -.025em;
    margin: 0 .5em;
}


/*
#skills {
    position: relative;
}
*/

/*
#skills::before {
    background: var(--background-light);
    left: -5em;
}
*/

/*
#skills::after {
    background: var(--background);
    right: -6em;
}
*/
#skills {
    max-width: 41em;
    margin: auto;
}

#skills ul:nth-child(odd) {
    position: relative;
}

#skills ul:nth-child(odd)::after {
    display: block;
    content: '';
    height: calc(100% + 3em);
    width: calc(100%);
    position: absolute;
    z-index: -1;
    background: var(--background);
}

#skills ul:nth-child(5)::after,
#skills ul:nth-child(9)::after {
    /*    border-left: 1em solid var(--background-dark);*/
    top: -1.95em;
    left: .5em;
}

#skills ul:nth-child(3)::after,
#skills ul:nth-child(7)::after {
    background: var(--background-light);
    /*    border-right: 1em solid var(--background-dark);*/
    left: -.5em;
    top: -2.1em;
}

#skills h2,
#skills h3,
#skills ul:nth-child(odd)::after,
#skills ul.ani-list li::before,
#skills ul.ani-list li::after {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: skewY(2.5deg);
    transform: skewY(2.5deg);
}

#skills h3 {
    margin: 0 1em;
}

#skills h3 ~ h3 {
    margin-top: 1em;
}

#skills ul {
    display: grid;
    /*    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/

    grid-template-columns: repeat(auto-fit, minmax(8em, 10em));
    grid-template-rows: repeat(auto-fit, 1.75em);

    /*    grid-auto-flow: column;*/
}

#education {
    /*    border-left: 1em solid var(--background);*/
    position: relative;
    padding: var(--indent);
}

/*
#education::before {
    position: absolute;
    top: 5.5em;
    left: calc(100% - var(--indent));
    background: var(--background);
    display: block;
    content: '';
    height: 100%;
    width: calc(2*var(--indent));

    z-index: -1;

    outline: var(--indent) solid var(--accent);
}
*/
#education h2 {
    z-index: -1;
}

#education h2::before,
#education h2::after {
    display: block;
    content: '';
    position: absolute;
    width: .165em;
}

#education h2::before {
    left: 1.13em;
    bottom: .25em;
    height: .75em;

    height: 6em;
    z-index: 1;
    background: var(--accent);
    -webkit-box-shadow: var(--shadow-around);
    box-shadow: var(--shadow-around);
}

#education h2::after {
    background: var(--accent-dark);

    top: .7em;
    left: 5.11em;
    height: .26em;

    height: 19em;
}

#education > div {
    padding: .5em var(--indent);
    margin: 1em 0;
}

#education > div:nth-child(odd) {
    background: var(--background);
}

#education > div:nth-child(even) {
    background: var(--background-light);
}

.about-description,
#education div.educational-info {
    background: rgba(0, 0, 0, .8);
    -webkit-box-shadow: var(--glow-dark);
    box-shadow: var(--glow-dark);
}

#education div.educational-info {
    margin: var(--indent);
    max-width: 22.5em;
}

#education .educational-info .degree em {
    font-style: normal;
    font-weight: bold;
}

.degree li {
    z-index: 1;
    position: relative;
}

.electric {
    position: relative;
}

.electric::before,
.electric::after {
    display: block;
    content: '';
    position: absolute;
    top: -1em;
    right: 0;

    top: 1.2em;
    right: -1.5em;

    right: -1.4em;

    z-index: -1;

    -webkit-transform: skewX(-20deg);

    transform: skewX(-20deg);
    -webkit-transition: .3s;
    transition: .3s;
}

.degree:hover .electric::before,
.degree:hover .electric::after {
    -webkit-transform: skewX(-20deg) rotate(15deg);
    transform: skewX(-20deg) rotate(15deg);
}

.electric::before {
    height: 1em;
    width: .6em;

    height: 1.5em;
    width: .9em;
    /*
    right: .15em;
*/
    top: -1.75em;
    right: .5em;

    top: .5em;
    right: -1em;

    top: -.1em;
    right: -.75em;

    background: var(--background-light);
    border-radius: .125em;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.electric::after {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    border-right: .6em solid transparent;
    border-top: 1em solid var(--background-light);

    border-right: .9em solid transparent;
    border-top: 1.5em solid var(--background-light);
}

.desc-list p {
    /*    padding: 0;*/
    margin: 0;
}

#education .subsubsubtitle {
    padding: 0;
    color: var(--accent);
}

#education h3 {
    margin: 0;
}

#education ul.ani-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.ani-link.project {
    position: relative;
    display: inline-block;
    width: 0;
    white-space: nowrap;
    visibility: hidden;
    color: var(--accent);

    /*    Trying to keep the width constant so won't skip to the next line */
    margin-right: 4.7em;
    padding-right: -4.7em;
    -webkit-transition: width .3s .15s, margin .3s .15s, padding .3s .15s, visibility .25s;
    transition: width .3s .15s, margin .3s .15s, padding .3s .15s, visibility .25s;
}

.ani-link.project:hover {
    visibility: visible;
    text-indent: 0;
    -webkit-transition: width .3s, margin .3s, padding .3s, visibility .1s;
    transition: width .3s, margin .3s, padding .3s, visibility .1s;
    margin-right: 0;
    padding-right: 0;
    width: 4.7em;
}

.ani-link.project::after {
    visibility: visible;
    display: inline-block;
    content: '';
    position: absolute;
    height: .5em;
    width: .5em;
    right: -1em;
    bottom: .125em;
    border-right: .25em solid var(--accent);
    border-bottom: .25em solid var(--accent);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /*    margin: 0 5em;*/
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ani-link.project:hover::after {
    border-right: .25em solid var(--contrast);
    border-bottom: .25em solid var(--contrast);

    -webkit-transform: rotate(-45deg) skewX(10deg) skewY(10deg);

    transform: rotate(-45deg) skewX(10deg) skewY(10deg);
}

#projects h2 {
    position: relative;
}

/* TODO : add psuedo element in front of sections so when click on they won't get cut off by the header 
*/
/* Using the t in past and referencing left and top in order to maintain location even if "Past Projects" splits into two lines*/
#projects h2::after {
    display: block;
    content: '';
    position: absolute;
    background: var(--accent-dark);

    left: 1.95em;
    top: .5em;
    width: .18em;

    height: .25em;
    height: 15em;
    z-index: -1;

    -webkit-transform-origin: top center;

    transform-origin: top center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Shrinks Experience h2 and intro */
@media (min-width: 19em) {

    html,
    .content {
        font-size: 1rem;
    }

    h2,
    .title,
    #contact p {
        font-size: 3.5rem;
    }

    h3,
    .subtitle {
        font-size: 1.5rem;
    }

    h4,
    .subsubtitle {
        font-size: 1.2rem;
    }

    .subsubsubtitle,
    .details-button {
        font-size: 1rem;
    }

    .tooltip-icon {
        height: 1.125em;
        width: 1.125em;
        margin: 0 .25em;
    }

    .tooltip:hover .tooltip-icon {
        margin: -.25em .325rem;
    }

    .tooltip.subtitle:hover .tooltip-icon {
        margin: -.25em .5rem;
    }

    #about .intro {
        font-size: 4rem;
    }

    #about .intro:nth-child(3)::before {
        left: 2.28em;
    }

    #about .intro:nth-child(3)::after {
        top: .58em;
        left: 2.49em;
        height: 8em;
    }

    #experience h2::before {
        width: .16em;
        height: 18em;
    }

    #experience h2::after {
        height: .55em;
        height: 10em;
    }

    #experience > ul > li {
        padding: .5em;
    }

    #experience h2,
    #education h2 {
        font-size: .9em;
    }

    #skills h2::before {
        left: 1.97em;
        height: 6.5em;
    }

    #skills h2::after {
        left: 1.67em;
        height: 8em;
    }

    #education h2::before {
        height: 4.5em;
    }

    #education h2::after {
        left: 5.119em;
        height: 16.2em;
    }

    #projects h2::after {
        left: 1.95em;
        top: .5em;
        height: 11em;
    }
}

/* Shrinks enlarges the intro when wide enough*/
/* Hits Experience h2 */
@media(min-width: 26em) {

    h2,
    .title,
    #contact p {
        font-size: 4rem;
    }

    h3,
    .subtitle {
        font-size: 2rem;
    }

    h4,
    .subsubtitle {
        font-size: 1.4rem;
    }

    .subsubsubtitle,
    .details-button {
        font-size: 1.1rem;
    }

    #about .intro {
        font-size: 5rem;
    }

    #about .intro:nth-child(3)::before {
        left: 2.22em;
        width: .18em;

    }

    #about .intro:nth-child(3)::after {
        top: .57em;

        left: 2.42em;
        height: 8em;
    }

    #experience h2,
    #education h2 {
        font-size: 1em;
        margin-left: .5em;
    }

    #experience h2::before {
        height: 16.5em;
    }
}


#projects > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

#projects > ul > li {
    max-width: 23em;
    margin: .25em auto;
}

#projects .subtitle {
    background: var(--accent);
    color: var(--background-dark);
    padding: .25em;
    position: relative;
}

#projects .subtitle::after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    right: -.5em;
    background: var(--accent);
    height: 100%;
    width: .5em;
}

.details {
    position: relative;
}

.details input {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 0;
}

.details input:checked ~ .details-button::before {
    width: 100%;
    left: 0;
    top: 2.5em;
    background: var(--accent-dark);
}

.details input:checked ~ .details-button::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.details input ~ ul {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    background: var(--background);
    padding: .5em;

    -webkit-transition: max-height .75s, opacity .75s, visibility 0s .3s;

    transition: max-height .75s, opacity .75s, visibility 0s .3s;
}

.details input:checked ~ ul {
    visibility: visible;
    opacity: 1;
    max-height: 200em;

    -webkit-transition: max-height .75s .35s, opacity .75s .35s, visibility 0s .35s;

    transition: max-height .75s .35s, opacity .75s .35s, visibility 0s .35s;
}

.details input ~ ul li::after {
    top: .9em;
    left: .4em;
}

.details-button {
    display: block;

    margin: .5em auto;
    width: 6em;

    border: .25em solid var(--accent-dark);
    padding: .25em;

    text-align: center;
    background: transparent;
    color: var(--accent-dark);

    -webkit-transition: all .3s;

    transition: all .3s;
}

.details-button::after,
.details-button::before {
    display: inline-block;
    content: '';

    background: var(--accent-dark);

    height: .25em;
    width: .75em;

    -webkit-transform-origin: center center;

    transform-origin: center center;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.details-button::before {
    position: absolute;
    left: calc(50% + 1.6em);
    top: .98em;

}

/*
input:checked ~ .details-button:active::before {
    transition-delay: .5s;
    trying to add a delay only between checked state to unchecked state, but seems to be effecting hover and active
}
*/

.details-button::after {
    margin: .25em;
    margin-right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.details-button:hover,
.details-button:focus,
.details-button:active {
    color: var(--background-dark);
    letter-spacing: .15em;
}

.details-button:hover,
.details-button:focus {
    width: 7.5em;
    background: var(--accent-dark);
}

.details-button:hover::after,
.details-button:hover::before,
.details-button:focus::after,
.details-button:focus::before {
    background: var(--background-dark);
}

.details-button:hover::before,
.details-button:focus::before {
    left: calc(50% + 2.1em);
}

.details-button:active {
    width: 7em;
    font-size: .9em;
    background: var(--accent);
    border-color: var(--accent);
}

.details-button:active::after,
.details-button:active::before {
    background: var(--background-dark);
}

.details-button:active::before {
    left: calc(50% + 2.1em);
    top: 1em;
}

#projects .technology {
    font-style: italic;
}

#test {
    visibility: hidden;
    display: none;
}

#contact h2 {
    display: none;
}

#contact p {
    margin: auto;
    /*    padding: 0 var(--indent);*/
    text-align: center;
    text-align-last: center;
    text-indent: 0;
}

.touch {
    position: relative;
}

.touch::after,
.fingerprint-svg {
    position: absolute;

    width: .65em;

    bottom: .23em;
    left: .42em;
}

.touch::after {
    display: block;
    content: '';
    height: .65em;

    border-radius: .3em;
    background: var(--background-dark);
}

.fingerprint-svg {
    height: .7em;
    z-index: 1;
    stroke-width: 20;
}

.download-svg,
.email-svg,
.fingerprint-svg {
    fill: none;
    stroke: var(--accent);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.download-svg {
    stroke-width: 40;
}

.email-svg {
    stroke-width: 33;
}
