/*@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');*/

:root {
    --background: hsl(44, 40%, 93%);
    --background-alpa: hsla(44, 40%, 93%, .1);
    --background_light: hsl(44, 50%, 95%);
    --background_dark: hsl(44, 30%, 92%);
    --accent_light: #86C232;
    --accent: green;
    --accent_dark: #605b3e;
    --main: hsl(102, 20%, 50%);
    --main_light: hsl(102, 46%, 75%);
    --main_dark: hsl(102, 20%, 25%);
    --on_background: hsl(100, 5%, 15%);
    --on_main: hsl(102, 20%, 25%);

    --gradient_main_to_dark: linear-gradient(to right, hsl(102, 20%, 50%), hsl(102, 20%, 25%));
    --gradient_main_dark_to_light: linear-gradient(to right, hsl(102, 20%, 25%), hsl(102, 46%, 75%));
    --gradient_main_to_light: linear-gradient(to right, hsl(102, 20%, 50%), hsl(102, 46%, 75%));
    --gradient_light_to_main: linear-gradient(to left, hsl(102, 20%, 50%), hsl(102, 46%, 75%));

    --header-height: 7em;
    /*    60px TODO: change height of header dependent upon viewport size */
    --main-menu-width: 20px;

    --drop-shadow: 0;
    --main-menu-transition-time: 1s;
    --section-title-height: 2em;

    --line-thickness: 4px;
}

/* TODO: change header-height based on screen size */
/* TODO: check if need this:  @supports (position: fixed) */
/*
Dark mode - slate and light blue
*/
/*
Light mode: green, teal, brown, gray
*/
/*ABE063
AFD779
B5DDA4
BEEA85
58754e
*/
/*
    --background: #C6B59A;
    --background_light: #EEE5CD;
    --background_dark: #C4BC9B;

    --background: hsl(44, 40%, 87%);
    --background_light: hsl(44, 60%, 92%);
    --background_dark: hsl(44, 25%, 80%);
*/
/*
--main: #B8E094;
    --main_light: #EAF7CF;
    --main_dark: #bee09f;
    --accent_light: #EDCE9C;
    --accent_dark: #B5DFCA;
    --light: #f2f2f2;
    --dark: #617073;
    --darker: rgb(81, 94, 96);
*/
/*
 --background: #d0e1ca;
    --background_light: #ecf5ed;
    --background_dark: #aec5aa;
    --accent_light: #86C232;
    --accent: green;
    --accent_dark: #605b3e;
    --main: #9fa081;
    --main_light: #e4ece7;
    --main_dark: #777d63;
    --on_background: #FFF;
    --on_main: #000;
*/
/*
--main: #afe0cf;
    --main_light: #e4ece7;
    --main_dark: #48705f;
    --accent_light: #9ca293;
    --accent_dark: #6a594d;
    --light: #e4ece7;
    --dark: #48705f;
    --darker: rgb(81, 94, 96);
*/
/*
 --background: #474B4F;
    --background_light: #6B6E70;
    --background_dark: #222629;
    --accent_light: #86C232;
    --accent: green;
    --accent_dark: #61892F;
    --main: lightblue;
    --main_light: #e4ece7;
    --main_dark: #48705f;
    --on_background: #FFF;
    --on_main: #000;
*/
/* 400 or 600, larger than mobile */
/* Larger than tablet */
/*@media(device-width: 750px) {}*/

/* 1024 */

/* TODO: want tab to move left as is pushed right by nav menu, match color with #main-menu-toggle and use opacity or magic to make look like an x - should only be hamburger when nav is closed */
/* TODO: tab should only appear on small screens, may also want to disappear contact list in that case */
/* FUTURE: may add shadow or gradient to tab, may need to switch up order of before, a, and spans to do so */
/* FUTURE: redo color scheme */

@-o-viewport {
    width: device-width;
    zoom: 1.0;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

* {
    box-sizing: border-box;
}

/* FUTURE: mobile accessible and mobile-first */
/* FUTURE: Add in some nice tooltips */
.tooltip {
    display: none;
}

.skills {
    display: none;
}

html {
    color: var(--dark);
    font-size: 12px;
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
    height: 100%;
    /*    background: var(--light);*/
}

body {
    /* reset default values */
    /* Crete Round, Roboto Slab, Zilla Slab, Raleway */
    box-sizing: border-box;
    background-color: var(--background_dark);
    background-attachment: fixed;
    background-image: url('../assets/background-images/light-sketch.png');
    background-image: url('../assets/background-images/paper-fibers.png');
    background-image: url('../assets/background-images/snow.png');

    color: var(--on_background);

    vertical-align: baseline;
    /*
    overflow-x: auto;
    overflow-y: auto;
*/
    /*    height: 100vh;*/
    margin: 0;
    padding: 0;
}

/*
* {
    scroll-behavior: smooth;
}
*/
/* Begin Header ------------------------------------------------- */

h1 {
    font-size: 16px;
    text-align: left;
    /* FUTURE: should this be here? */
    /*    font-family: 'Bitter', serif;*/
    /*    font-family: 'Yeseva One', serif;*/
}

h1,
h2,
h3,
h4 {
    /*    font-family: 'Bitter', serif;*/
    font-family: 'Yeseva One', serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*    max-height: var(--header-height);*/
    height: var(--header-height);
    z-index: 2;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    /*        font-weight: bold;*/
    background: var(--background-alpha);
    color: var(--on_background);
    /*    opacity: .75;*/
    border-bottom: 2px solid var(--background_light);
    box-shadow: 0 4px 3px rgba(0, 0, 0, .4);
    /*    TODO: change color - add alpha value*/
    /*        padding: 10px;*/
    /*    this is adding vertical height; need to fix */
}

header em {
    font-style: normal;
    font-weight: bold;
}

header div,
header h1,
header div::before {
    display: block;
    padding: 0;
    margin: 0;
}

/* FUTURE: may move div:: before reference to media query */

header div {
    display: flex;
    height: 100%;
    align-items: center;
    /*    margin-top: 0;*/
}

#header-contact {
    display: none;
}

/* FUTURE: can move @media into the element above if switch over to SASS */
/*
@media (min-width: 400px) {
    #header-contact {
        display: block;
    }
}
*/

/* leftToRightFadeIn Animation ---------------------------------- */

@keyframes leftToRightFadeIn {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes leftToRightFadeIn {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}


/* Larger than mobile*/
@media(min-width: 400px) {

    /* TODO: only for larger screens; else, hide and show a contact tab */
    section#contact {
        display: none;
    }

    #header-contact {
        display: block;
    }

    /*    TODO: Also hide the href to contact in the navbar */

    header div.list::before {
        content: '';
        display: block;
        background: var(--main);
        width: 2px;
        /*  TODO: make so either shrink to 0 and wrap or do not shrink below 2px, to maintain border-radius */
        flex: 0 2 auto;
        /*    align-self: stretch;*/
        /*    position: relative;*/
        /*    bottom: 0;*/
        border-radius: 1px;
        /*    anything over width/2 appears as width/2 */
        margin: 0 10px;
        /*    position: absolute;*/
        /*    max-height: 0;*/
        -webkit-animation: 2s bottomToTop ease-in-out;
        animation: 2s bottomToTop ease-in-out;

        /*    top: 100%;*/
        /*    animation-direction: reverse;*/
        /*    transform-origin: 100% 100%;*/
        /* after animation is done, remain at last keyframe */
        /*
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
*/
    }

    #header-contact li {
        /*    width: 100%;*/
        opacity: 0;
        /*    margin: 2px 5px;*/
        /*    min-width: 30%;*/
        font-size: 10px;
        /*    padding-top: 2px;*/
        /* animation to set to run on its own; once on page load */
        -webkit-animation: leftToRightFadeIn 2s ease-out 2s;
        animation: leftToRightFadeIn 1s ease-out 2s;
        /* delay so line can rise up first and can avoid kind of entertaining swooping effects due to margins */
        /* after animation is done, remain at last keyframe */
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #header-contact li:nth-child(1) {
        animation-delay: 5s;
        -o-animation-delay: 5s;
        -ms-animation-delay: 5s;
        -moz-animation-delay: 5s;
        -webkit-animation-delay: 5s;
    }

    #header-contact li:nth-child(2) {
        animation-delay: 4.25s;
        -o-animation-delay: 4.25s;
        -ms-animation-delay: 4.25s;
        -moz-animation-delay: 4.25s;
        -webkit-animation-delay: 4.25s;
    }

    #header-contact li:nth-child(3) {
        animation-delay: 3.5s;
        -o-animation-delay: 3.5s;
        -ms-animation-delay: 3.5s;
        -moz-animation-delay: 3.5s;
        -webkit-animation-delay: 3.5s;
    }

    #header-contact li:nth-child(4) {
        animation-delay: 2.75s;
        -o-animation-delay: 2.75s;
        -ms-animation-delay: 2.75s;
        -moz-animation-delay: 2.75s;
        -webkit-animation-delay: 2.75s;
    }
}

@keyframes bottomToTop {
    from {
        background-color: var(--main_dark);
        max-height: 0;
        margin-top: 200px;
        /*        animate top margin to make it animate upward - just need to make it anything larger than the enclosing area*/
    }

    to {
        background-color: var(--main);
        max-height: 200px;
        /*        animating max-height allows for the use of height: auto */
        margin-top: 0;
        /*        transform: translateY(-100%);*/
    }
}

@-webkit-keyframes bottomToTop {
    from {
        background-color: var(--main_dark);
        max-height: 0;
        margin-top: 500px;
    }

    to {
        background-color: var(--main);
        max-height: 500px;
        margin-top: 0;
        /*        -webkit-transform: translateY(-100%);*/
    }
}

/* Begin Nav-Bar -------------------------------------------------*/
#main-menu-toggle {
    position: fixed;
    border-radius: 50%;
    right: 0;
    top: 0;
    margin: calc(var(--main-menu-width)/2);
}

#main-menu-toggle::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transform: translate(75%, -25%);
    float: right;
}

#main-menu-toggle,
#main-menu-toggle::before {
    padding: calc(var(--main-menu-width)/2);
}

/* TODO: work with z-index and opacity to make -close appear over it, then switch out on focus/movement of menu */
#main-menu-toggle,
#main-menu-close {
    /*     https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */
    display: block;
}

#main-menu-toggle,
#main-menu-toggle::before,
#main-menu-close,
#main-menu ul {
    background: var(--main);
    color: var(--on_main);
}

#main-menu-close {
    padding: var(--main-menu-width);
    padding-right: calc(100% - 1.5*var(--main-menu-width));
    /*
    right: 0;
    top: 0;
*/
}

.menu-toggle,
.menu-close {
    width: var(--main-menu-width);
    height: var(--main-menu-width);
    box-sizing: content-box;
}

/* Start Menu Icon ------------------------------------------- */
.menu-toggle span,
.menu-toggle span::before,
.menu-toggle span::after {
    position: relative;
    /*    setting position helps with the z-index order that gets funky with the transforms, specifically with #main-menu-toggle::before */
}

.menu-toggle span,
.menu-toggle span::before,
.menu-toggle span::after,
.menu-close span,
.menu-close span::before,
.menu-close span::after {
    content: '';
    display: block;
    width: 100%;
    height: calc(.15 * var(--main-menu-width));
    margin: 17% 0;
    border-radius: 10px;

    background: var(--on_main);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.menu-toggle:focus span,
.menu-toggle:focus span::before,
.menu-toggle:focus span::after,
.menu-close:focus span,
.menu-close:focus span::before,
.menu-close:focus span::after {
    background: var(--main_dark);
}

.menu-toggle:hover span,
.menu-toggle:hover span::before,
.menu-toggle:hover span::after,
.menu-close:hover span,
.menu-close:hover span::before,
.menu-close:hover span::after {
    background: var(--main_light);
}

/* TODO: In JavaScript, add a .closed class dynamically so not just relying on :targetting */
/*    FUTURE: check: opacity should only be relevant for .menu-close befores */
.menu-toggle span::before,
.menu-toggle span::after,
.menu-close span::before,
.menu-close span::after {
    opacity: 1;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

.menu-close:hover span,
.menu-close:focus span {
    transform: translate(0%, 225%) rotate(-45deg);
}

.menu-close:hover span::before,
.menu-close:focus span::before {
    opacity: 0;
    transform: translate(0%, 0%) rotate(45deg);
}

.menu-close:hover span::after,
.menu-close:focus span::after {
    /*    -webkit-transform: translate(0%, 0%) rotate(45deg);*/
    transform: translate(0%, -225%) rotate(90deg);
}

/*
.menu-toggle span::before,
.menu-toggle span::after,
.menu-close:hover span::before,
.menu-close:focus span::before,
.menu-close:hover span::after,
.menu-close:focus span::after {
    opacity: 1;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

.menu-toggle:hover span,
.menu-toggle:focus span {
    transform: translate(0%, 225%) rotate(-45deg);
}

.menu-toggle:hover span::before,
.menu-toggle:focus span::before,
.menu-close span::before {
    opacity: 0;
    transform: translate(0%, 0%) rotate(45deg);
}

.menu-toggle:hover span::after,
.menu-toggle:focus span::after,
.menu-close span::after {
        -webkit-transform: translate(0%, 0%) rotate(45deg);
    transform: translate(0%, -225%) rotate(90deg);
}

.menu-close span {
    transform: translate(0%, 225%) rotate(-45deg);
}

.menu-close:hover span,
.menu-close:focus span {
    transform: translate(0%, 0%) rotate(0);
}

#main-menu #main-menu-close span {
    visibility: hidden;
    opacity: 0;
    display: block;
}

#main-menu:target #main-menu-close span {
    visibility: visible;
    opacity: 1;
}
*/
/* End Menu Icon -------------------------------------------- */
/*
#main-menu #main-menu-close {
    display: none;
}

#main-menu:target #main-menu-close {
    display: block;
}
*/
/* https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */
/* Is behind the overlay */
#main-menu {
    position: fixed;
    right: -200px;
    top: 0;
    height: 100%;
    /*        transform: translateX(200px);*/
    /*    visibility: none;*/

    /*        display: none;*/
    transition: right var(--main-menu-transition-time);
    /*    animation: inFromRight 1s reverse;*/
    /*
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
*/
}

/* when someone clicks a link #main-menu*/
/*  [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional. */
/* https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */
#main-menu:target,
#main-menu[aria-expanded="true"] {
    /*    visibility: visible;*/
    position: fixed;
    right: 0;
    box-shadow: -3px 0 12px rgba(0, 0, 0, .25);
    /*    box-shadow: -8px 0 8px rgba(0, 0, 0, .5);*/

    /*    transform: right 1s, visibility .1s;*/
    /*        display: block;*/
    /*    animation: inFromRight 1s;*/
    /*        transform: translateX(0);*/
    /*    Transforms in Chromium create a new stacking context */
    /*
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
*/
}


@keyframes fadeIn {
    0% {
        visibility: none;
        opacity: 0;
    }

    2% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: .5;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: .5;
        visibility: visible;
    }

    95% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*
#main-menu ul,
#main-menu #main-menu-close::before {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
*/

#main-menu ul {
    /*    background: var(--main_light);*/
    width: 100%;
    height: 100%;
    padding: 0;
    /*    box-sizing: border-box;*/
    margin: 0;
}

/* Putting the padding here to expand clickable space */
#main-menu li a {
    display: block;
    /*    padding: .75em 15px;*/
    padding: 10px 20px;
    line-height: 1em;
    /*    font-size: 1em;*/
}

#main-menu li a:hover,
#main-menu li a:focus {
    color: var(--main_light);
    background: rgba(0, 0, 0, .25);
    transition: .3s;
}

#main-menu li {
    /*    text-decoration: none;*/
    border-bottom: 1px solid var(--main_dark);
    position: relative;
    padding: 0;
    /* so that pseudoelements are positioned relatively to their "li"s*/
    /*    padding: 5px 0 5px 5px;*/
}

#main-menu li,
#main-menu-close {
    border-bottom: 1px solid var(--main_dark);
}

#main-menu #main-menu-close::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    content: '';
    background: black;
    /*    TODO: Figure out how to simplify animation */
    /* animation: fadeIn 1s reverse; */
    /*    or*/
    /*    animation-direction: reverse;*/
    /* makes it so neither animation runs */
    visibility: hidden;
    opacity: 0;
    animation: fadeOut var(--main-menu-transition-time);
}

#main-menu:target #main-menu-close::before {

    animation: fadeIn var(--main-menu-transition-time);
    visibility: visible;
    opacity: .5;
    /*    transition: visibility 1s, opacity 1s;*/

    /*        background: rgba(0, 0, 0, .25);*/
    /*    #main-menu-toggle also appearing over */
}

/* End Nav-Bar ----------------------------------------------- */
/* End Header ------------------------------------------------ */

main::before {
    content: '';
    /*    display: inline-block;*/
    background: var(--main);
    width: var(--line-thickness);
    height: calc(100% - var(--header-height) - var(--section-title-height)/4);
    border-radius: 2px;
    /*    flex: 0 2 auto;*/
    position: absolute;
    left: 15px;
    /*    margin: calc(var(--section-title-height) / 4) 0;*/
    bottom: calc(var(--section-title-height) / 32);
    -webkit-animation: 2s bottomToTop ease-in-out;
    animation: 2s bottomToTop ease-in-out;
}

main {
    height: 100%;
    position: relative;
    /*    display: flex;*/
    padding-top: var(--header-height);
}

/* TODO: transition the display, maybe add an opacity/ visibility to transition */
section {
    transition: display 0.3s;
    z-index: 1;
    /*    position: relative;*/
    /*    opacity: .25;*/
    font-size: 11px;
    position: relative;
}

/* To give some space for when click, so will have suitable spacing underneath the fixed header */
section::before {
    content: '';
    display: block;

    height: var(--header-height);
    margin: calc(-1*var(--header-height)) 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

section::after {
    content: '';
    display: block;
    background: var(--main);
    position: absolute;
    top: 1em;
    left: 25px;

    height: 0;
    width: var(--line-thickness);
    transition: height 1s;
}

section:target::after {
    height: calc(100% + 1em);

}

section a.title {
    /*    width: 100%;*/
    display: flex;
    z-index: 1;
    /*        justify-content: flex-start;*/
    /*        align-content: stretch;*/
    align-items: center;
    /*    width: 100%;*/
    /*    flex-wrap: nowrap;*/
    /*    flex-shrink: 0;*/
    white-space: nowrap;
    flex-flow: row nowrap;
    margin: 5px 15px;
    height: var(--section-title-height);
    /*        position: sticky;*/
}

section a.title::before {
    background: var(--gradient_main_to_dark);
    border-radius: 3px;
    /*        float: left;*/
    height: var(--line-thickness);
}

section a.title::after,
section a.title::before {
    content: '';
    display: block;

    flex: 1 2 25%;
    transition: flex-basis 2s ease-out;
    /*    if keep at same flex-basis as the .bullet line, will center the remaining words */
    /*     can change flex order if necessary */
}

/*    visibility: none;*/
/*
section a.title::after,
section a.title:hover::after,
section a.title:focus::after,
section:target a.title::after,
section:target a.title:hover::after,
section:target a.title:focus::after {
    content: '';
    display: block;
    background: none;

    flex: 1 3 25%;
}
*/


/* TODO: see just how many of these are relevant */
section a.title:hover::before,
section a.title:focus::before,
section:target a.title::before,
section:target a.title:hover::before,
section:target a.title:focus::before {
    flex: 1 2 75%;
}

section a.title:hover h2,
section:target a.title h2 {
    color: var(--main);
}


/*
section > a.title {
    position: sticky;
    width: 100%;
    display: block;
}
*/

/* header used to be there ^ */

h2 {
    color: var(--main_dark);
    margin: 0 5px;
    /*    font-family: 'Bitter', serif;*/
    /*    font-weight: bold;*/
    /*    height: 100%;*/
    transition: color 1s;
    font-size: 14px;
}

section a.title ~ * {
    /*        display: none;*/
    /*    visibility: hidden;*/
    max-height: 0;
    margin: 0 10px;
    padding: 0 25px;
    /*    left/right margin and padding used to maintain some styling when transitioning between :targets */
    overflow: hidden;
    /*    transition: height 3s;*/
    /*
    animation: hideAutoHeight;
    animation-delay: 5s;
    animation-fill-mode: backwards;
    animation-direction: normal;
*/
    transition: max-height 1.5s;

}

section:target a.title ~ * {
    margin: 10px;
    /*    display: block;*/

    overflow: auto;
    max-height: 5000px;
    /*    visibility: visible;*/

    /*    animation: revealAutoHeight 5s ease-in;*/
    /*    animation-fill-mode: both;*/
    /*    animation-delay: 5s;*/

    /*    max-height: 5000px;*/
}

@keyframes revealAutoHeight {
    0% {
        display: none;
        overflow-y: hidden;
        max-height: 0;
    }

    5% {
        display: block;
        max-height: 0;
    }

    100% {
        display: block;
        max-height: 5000px;
        overflow-y: auto;
    }
}

@keyframes hideAutoHeight {
    0% {
        max-height: 5000px;
        overflow-y: hidden;
        display: block;
    }

    95% {
        display: block;
        max-height: 0;
        overflow-y: hidden;
    }

    100% {
        max-height: 0;
        display: none;
        overflow-y: auto;
    }
}

section p {
    text-indent: 20px;
}

h4 {
    margin: 0;
    /*    font-family: 'Bitter', serif;*/
}

/* About Section --------------------------------------------- */
#about:target p {
    padding: 2px 25px;
    /*    In order for underline in the final line of an element to show up, needs some padding or overflow-y: visible, else will be hidden */
    /*    padding will not collapse, so only add when :targeted */
}

/* Links ------------------------------------------------------- */

a {
    cursor: pointer;
    color: var(--main);
    text-decoration: none;
    transition: color 0.3s;
}

a:visited {
    color: var(--main_dark);
}

a:hover,
a:focus {
    color: var(--main_light);
}

/* TODO: maybe have flash a color on click */
.ani-link {
    /*    display: inline-block;*/
    position: relative;
    /*    margin-bottom: 2px;*/
    /*    In order to keep added line from messing with spacing */
    /*        width: 100%;*/
    margin: 2px 0;
}

.ani-link::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--gradient_main_to_light);
    border-radius: 2px;
    bottom: -2px;
    left: 0;

    transition: width .3s;
    /*        position: relative; */
    /*    opacity: 1;*/
    /*
    transform: translateY(5px);
    transition: transform 0.3s, opacity 0.3s;
*/
}

/* TODO: Double check this auto-prefixer*/
/* FUTURE: add postcss auto-prefixer in addition to minification */

.ani-link:hover::after,
.ani-link:focus::after {
    width: 100%;
    /*
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
*/
}


/* #Experience Section ----------------------------------------- */
/*
input:checked + .section {
    display: block;
}

input.toggle-section {
    opacity: 0;
    width: 0;
    height: 0;
}
*/

#experience .logo-stack svg {
    /*    height: 1.5em;*/
    width: 20px;
    margin-right: 5px;
    margin-left: calc(-10px + var(--line-thickness) / 2);
}

#experience .logo-stack {
    font-size: 12px;
    font-weight: bold;
    color: var(--main_dark);
}

.experience-header .title {
    font-weight: bold;
}

.experience-header .title,
ul.description {
    font-size: 10px;
    margin-left: 20px;
    padding: 0;
}

.experience-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 9px;
    font-style: italic;
    margin: 2px 15px 2px 35px;
}

/*
#education .time {
    display: inline-block;
    float: left;
}

#education .location {
    display: inline-block;
    float: right;
}

#education .location::after {
    content: '';
    display: block;
    clear: both;
}
*/

ul {
    list-style-type: none;
}

li + li {
    margin: 2px 0 0;
}

ul.description {
    margin: 2px;
    margin-left: 20px;
    /*    list-style-type: disc;*/
    /*    list-style-position: inside;*/
    height: 100%;
    position: relative;
}

/*
ul.description li {
    text-indent: 10px;
}
*/

/*
ul.description::before {
    content: '';
    display: inline-block;
    width: var(--line-thickness);
    height: 100%;
        background: var(--main);
    position: absolute;
    left: -20px;
    border-radius: 4px;
}
*/
#experience ul.description li::before {
    content: '';
    display: inline-block;
    height: var(--line-thickness);
    width: 0;
    background: var(--gradient_main_to_dark);
    margin: 1.5px 5px 1.5px -40px;
    border-radius: 4px;
    transition: width 1s;
}

#experience:target ul.description li::before {
    width: 50px;
}

#experience ul.description li {
    opacity: 0;
    visibility: none;
    /*    text-indent: 50px;*/
    transition: visibility 1s, opacity 1.3s;
}

#experience:target ul.description li {
    opacity: 1;
    visibility: visible;
}



/*
.ani-list > li::before,
.ani-list > li::before,
.desc-list::before,
.description > li::before {
    content: '';
    display: inline-block;
    margin-left: -2.5em;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: none;
    position: relative;
    vertical-align: middle;

    box-shadow: inset 0 0 0 0.15em var(--main_dark);

    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
}
*/


/* Skills Section --------------------------- */
#skills ul {
    /*    display: flex;*/
    width: 100%;
    /*    list-style-type: disc;*/
    /*    list-style-position: inside;*/

    /*    overflow: hidden;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#skills ul li::before {
    content: '';
    display: inline-block;
    width: 6````````````````````````````````px;
    height: 5px;
    border-radius: 2.5px;
    background: var(--main);
    margin: 0 10px;
    vertical-align: middle;
}

#skills ul li {
    /*    width: 50%;*/
    /*    flex: 1 0 50%;*/
    /*    box-sizing: border-box;*/
    /*    float: left;*/
    vertical-align: middle;
    display: inline-block;
}

/* Projects Section */
.subtitle {
    font-weight: bold;
    margin-top: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    white-space: nowrap;
}

.subtitle::before,
.subtitle::after {
    content: '';
    display: inline-block;
    height: 2px;
    border-radius: 1px;
    flex: 1 2 25%;
}

.subtitle::before {
    background: var(--gradient_main_to_light);
    margin-right: 5px;
}

.subtitle::after {
    background: var(--gradient_light_to_main);
    margin-left: 5px;
}

.technology {
    font-style: italic;
    font-size: 10px;
    text-align: right;
    padding: 0;
    margin: 0;
}

p.description {
    margin: .25em 1em;
}


/* Begin Logo Stack ------------------------------------- */
header .logo-stack {
    display: flex;
    flex-direction: column;
}

header .logo-stack svg {
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
}

.logo-stack:hover {
    color: var(--main_light);
}

.logo-stack svg {
    height: 30px;
    width: 30px;
    fill: var(--main);
    transition: fill .5s;
}

.logo-stack:hover svg {
    fill: var(--main_light);
}

.logo-stack:hover .ani-link::after {
    width: 100%;
}

.logo-link-set svg,
.logo-link-set li a .ani-link,
#experience .logo-stack svg,
#experience .logo-stack .svg-label {
    vertical-align: middle;
    display: inline-block;
}

/* If change ~ * back to display: none/block, need to add section:target to make specific enough */

.logo-link-set li a .ani-link {
    margin-top: 2px;
    /*    to keep centered against icon*/
    /*    border: 1px solid black;*/
}

.logo-link-set svg {
    height: 15px;
    width: 15px;
    margin: 0 15px;
    /*    border: 1px solid black;*/
}

.logo-stack .svg-label :not(strong) {
    visibility: hidden;
    opacity: 0;
    font-size: 10px;
    /*    position: absolute;*/
    /*        left: 50%;*/
    /*        margin: -50%;*/
    /*    left: 0;*/
    top: 0;

    transition: visibility .1s, opacity .4s;
}

.logo-stack:hover .svg-label em {
    visibility: visible;
    opacity: 1;
}

/*

.line {
    background-color: var(--dark);
    position: relative;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.line-vertical {
    width: 3px;
    height: 50%;
    -webkit-animation: 5s expandFromBottom;
    animation: 5s expandFromBottom;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.line-bottom {
    height: 3px;
    width: 90%;
    margin-bottom: 5%;
    -webkit-animation: 5s expandFromCenter;
    animation: 5s expandFromCenter;
    margin: 0 5% 0 5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
*/

/*
 -webkit-transition: width 5s ease-in;
    -moz-transition: width 5s ease-in;
    -o-transition: width 5s ease-in;
    transition: width 5s ease-in;
.line-bottom:hover {
    width: 90%;
}*/

@keyframes expandFromCenter {
    from {
        width: 0%;
        margin: 0 50% 0 50%;
        background-color: var(--main_dark);
    }

    to {
        width: 90%;
        margin: 0 5% 0 5%;
        background-color: var(--main);
    }
}

@-webkit-keyframes expandFromCenter {
    from {
        width: 0%;
        background-color: var(--main_dark);
    }

    to {
        width: 90%;
        background-color: var(--main);
    }
}

@keyframes expandFromBottom {
    from {
        height: 0%;
        background-color: var(--main_dark);
    }

    to {
        height: 50%;
        background-color: var(--main);
    }
}

@-webkit-keyframes expandFromBottom {
    from {
        height: 0%;
        background-color: var(--main_dark);
    }

    to {
        height: 50%;
        background-color: var(--main);
    }
}

.svg-precisionlender {
    --pl-blue: #1f3f70;
    --pl-orange: #f78f20;
    --pl-white: #fff;
}

m .svg-carbon {
    fill: black;
}

.svg-co-lab {
    --cl-white: #fefefe;
    --cl-light-blue: #91bedb;
    --cl-gray: #949ca8;
    --cl-blue: #5e95bd;
    --cl-dark-gray: #505e70;
    --cl-dark-blue: #2d4f6f;
    --cl-darker-blue: #23344b;
    --cl-darkest-blue: #18263b;
}

.svg-fathom {
    --fathom-orange: #e0b00e;
}
